.publications-body {
  position: relative;
  background-color: $light;
  border-radius: $rounded-borders $rounded-borders $rounded-borders $rounded-borders;
  padding: 5px 0;


  .timeline-item {
    position: relative;

    .content {
      margin: 40px;
      padding-bottom: 20px;

      .citation{
          color: $dark;
          text-align: justify;
          vertical-align: text-top;
      }


      .date {
        margin-top: -5px;
        margin-bottom: 15px;
        color: #6c757d;
      }
    }
  }
}
