<div id="viewer_container">
    <section id="loading-screen">

        <div id="loader"></div>

    </section>
    <script type="module">
        const width = document.getElementById('viewer_container').clientWidth;
        const height = document.getElementById('viewer_container').clientHeight;
        import * as THREE from 'https://unpkg.com/three/build/three.module.js';
        import { GLTFLoader } from 'https://unpkg.com/three/examples/jsm/loaders/GLTFLoader.js';
        import { OrbitControls } from 'https://unpkg.com/three/examples/jsm/controls/OrbitControls.js';

        let camera, scene, renderer, controls;

        init();
        animate();

        function init() {
            renderer = new THREE.WebGLRenderer();
            renderer.setSize(width, height);
            renderer.setClearColor(0xffffff, 0);
            document.getElementById('viewer_container').appendChild(renderer.domElement);

            camera = new THREE.PerspectiveCamera(65, width / height, 0.5, 500);
            camera.position.set(2.5, 2.5, 2.5);
            camera.lookAt(0, 0, 0);
            scene = new THREE.Scene();
            scene.background = new THREE.Color(0xffffff);


            // loading message
            const loadingManager = new THREE.LoadingManager(() => {

                const loadingScreen = document.getElementById('loading-screen');
                loadingScreen.classList.add('fade-out');

                // optional: remove loader from DOM via event listener
                loadingScreen.addEventListener('transitionend', onTransitionEnd);

            });

            const loader = new GLTFLoader(loadingManager);

            //lighting
            var light = new THREE.DirectionalLight(0xffffff, 0.5);
            light.position.set(2, 2, 2);
            light.target.position.set(0, 0, 0);
            scene.add(light);

            const hlight = new THREE.AmbientLight(0x404040, 0.5);
            scene.add(hlight);

            var directionalLight = new THREE.DirectionalLight(0xffffff, .5);
            directionalLight.position.set(0, 1, 0);
            directionalLight.castShadow = true;
            scene.add(directionalLight);

            var light = new THREE.PointLight(0xc4c4c4, .5);
            light.position.set(0, 300, 500);
            scene.add(light);

            var light2 = new THREE.PointLight(0xc4c4c4, .5);
            light2.position.set(500, 100, 0);
            scene.add(light2);

            var light3 = new THREE.PointLight(0xc4c4c4, .5);
            light3.position.set(0, 100, -500);
            scene.add(light3);

            var light4 = new THREE.PointLight(0xc4c4c4, 0.5);
            light4.position.set(-500, 300, 500);
            scene.add(light4);




            // load model
            loader.load("{{ include.model }}", function (gltf) {
                var robot = gltf.scene.children[0];
                scene.add(gltf.scene);
                animate();
            });


            //controls
            controls = new OrbitControls(camera, renderer.domElement);
            controls.update();
            
            window.addEventListener('resize', onWindowResize, false);
        }


        function animate() {
            requestAnimationFrame(animate);
            controls.update();
            renderer.render(scene, camera);
        }

        function onWindowResize() {
            camera.aspect = width / height;
            camera.updateProjectionMatrix();
            renderer.setSize(width, height);
        }

        function onTransitionEnd(event) {
            event.target.remove();
        }        
    </script>
</div>