<div id="viewer_container" style="width: 100%; height: {{include.height}}px;">
    <section id="loading-screen">

        <div id="loader"></div>

    </section>
    <script type="module">
        const width = document.getElementById('viewer_container').clientWidth;
        const height = document.getElementById('viewer_container').clientHeight;
        import * as THREE from 'https://unpkg.com/three/build/three.module.js';
        import { GLTFLoader } from 'https://unpkg.com/three/examples/jsm/loaders/GLTFLoader.js';
        import { OrbitControls } from 'https://unpkg.com/three/examples/jsm/controls/OrbitControls.js';

        let camera, scene, renderer, controls;

        init();
        animate();

        function init() {
            renderer = new THREE.WebGLRenderer();
            renderer.setSize(width, height);
            renderer.setClearColor(0xffffff, 0);
            renderer.outputEncoding = THREE.sRGBEncoding;
            document.getElementById('viewer_container').appendChild(renderer.domElement);

            camera = new THREE.PerspectiveCamera({{include.fov}}, width / height, 0.05, 500);
            const camera_distance = {{include.camera_distance}}
            camera.position.set(camera_distance, camera_distance, camera_distance);
            camera.lookAt(0, 0, 0);
            scene = new THREE.Scene();
            scene.background = new THREE.Color(0xffffff);


            // loading message
            const loadingManager = new THREE.LoadingManager(() => {

                const loadingScreen = document.getElementById('loading-screen');
                loadingScreen.classList.add('fade-out');

                // optional: remove loader from DOM via event listener
                loadingScreen.addEventListener('transitionend', onTransitionEnd);

            });

            const loader = new GLTFLoader(loadingManager);

            //lighting
            const ambientLight = new THREE.AmbientLight(0xffffff, 0.1);
            scene.add(ambientLight);

            const pointLight = new THREE.PointLight(0xffffff, 0.7);
            pointLight.castShadow = true;
            camera.add(pointLight);
            scene.add(camera);

            const spotLight = new THREE.SpotLight(0xffffff);
            spotLight.castShadow = true;
            spotLight.position.set(100, 1000, 100);
            scene.add(spotLight);

            const dirLight = new THREE.DirectionalLight(0xffffff, 0.15);
            dirLight.position.set(- 3, 10, - 10);
            dirLight.castShadow = true;
            dirLight.shadow.camera.top = 2;
            dirLight.shadow.camera.bottom = - 2;
            dirLight.shadow.camera.left = - 2;
            dirLight.shadow.camera.right = 2;
            dirLight.shadow.camera.near = 0.1;
            dirLight.shadow.camera.far = 40;
            scene.add(dirLight);

            // load model
            loader.load("{{ include.model }}", function (gltf) {
                scene.add(gltf.scene);
                animate();
            });


            //controls
            controls = new OrbitControls(camera, renderer.domElement);
            controls.update();

            window.addEventListener('resize', onWindowResize, false);
        }


        function animate() {
            requestAnimationFrame(animate);
            controls.update();
            renderer.render(scene, camera);
        }

        function onWindowResize() {
            camera.aspect = width / height;
            camera.updateProjectionMatrix();
            renderer.setSize(width, height);
        }

        function onTransitionEnd(event) {
            event.target.remove();
        }        
    </script>
</div>